<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <!-- Sisi Kanan -->
        <div>
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="/media/base/spongebob squarepatns.png" alt="" width="40" height="34">
              </a>
        </div>

        <!-- Sisi Tengah -->
        <div></div>
        <a href="" class="btn">Booking Facility</a>
        <a href="{% url 'facility_list' %}" class="btn">Propose/Manage Facility</a>
        <a href="" class="btn">Public Infrastructure</a>
        <a href="" class="btn">About</a>
        <!-- Sisi Kiri -->
        <div></div>
    </div>
  </nav>